/* global styles */
*{
    margin:0;
    padding:0;
    font-family: 'Lato', sans-serif;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}
.primary-btn{
    background-color: #E55473;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
    color: #fff;
    transition: 0.5s;
    font-size: 18px;
}
.primary-btn:hover{
    background-color: #272727;
    color: #daf0f1;
    cursor: pointer;
}
.featured-title p, .benefit p,.hot-deals p{
    color: #505050;
    padding: 10px 0; 
}
/* styles for header */
header{
    background-color: #e554734f;
    padding-top: 40px;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
header .header-content{
    width: 420px;
    padding-bottom: 40px;
}
header .header-content h1{
    font-size: 50px;
}
header .header-content p{
    padding:15px 0;
    color: #272727;
}
header img{
    width:340px;
}

/* Featured Section Styles */
.featured {
    padding: 50px 0;
}
.featured .featured-title{
    width: 400px;
    margin:0 auto;
    text-align: center;
    padding: 20px 0;
}
.featured .box,.featured .benefits{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.featured .pink-box,.blue-box,.green-box{
    margin: 10px;
}

.featured .pink-box .box-img{
    background-color: #f2dee8;
}
.featured .blue-box .box-img{
    background-color: #daf0f1;
}
.featured .green-box .box-img{
    background-color: #f4ffed;
}

.featured .box h4{
    padding: 20px 0;
    text-decoration: underline;
}
.featured .box-img{
    border-radius: 310px 310px 0 0;
    width: 300px;
}

.featured .box img{
    height: 300px;
    padding: 20px 20px 0 15px;
    margin-bottom: -3px;
}

.featured .benefits{
    background-color: #f4f4f4;
    padding: 20px 0;
}
.featured .benefit{
    margin: 0 10px;
}
.featured .benefit img {
    width: 70px;
}

/* Hot Deals Styles */
.hot-deals {
    background-color: #fdf6f8;
    padding: 50px 0;
    margin: 20px 0;
}
.hot-deals .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 750px;
}
.hot-deals .deal{
    width: 320px;
    text-align: center;
}